* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

<style>h1 {
  color: red;
}

body {
  background-color: turquoise;
  color: white;
}

a {
  text-decoration: none;
}

p {
  text-decoration: wavy;
}


nav ul {
  list-style-type: none;
  background-color: white;
  padding: 20px;
}

nav ul li {
  display: inline;
  text-transform: uppercase;
}


.active {
  text-decoration-color: whitesmoke;
  text-decoration: underline;
}

.box {
  border: 1.5px solid snow;
  height: 150px;
  width: 150px;
  padding: auto;
}

.boxtwo {
  border: 1px solid snow;
  height: 50px;
  width: 50px;
}

.border {
  border: 1px solid wheat;
  width: 375px;
  padding: 20px;
}

nav a:hover {
  color: white;
  background-color: black;
}

nav li:not(:first-child) {
  margin-left: 20px;
}

table {
  border: 1px solid whitesmoke;
  margin: 10px;
}

th,
td {
  border: 1px solid;
  padding: 10px;
}

tr th:hover {
  background-color: darkcyan;
}

tr td:hover {
  background-color: darkcyan;
}

.parent {
  height: 500px;
  width: 500px;
  border: 1px solid white;
  background-color: black;
}

.children {
  height: 50%;
  width: 100%;
  border: 1px solid white;
}

.content p.red {
  padding: 10px;
  text-align: justify;
  font-size: 32px;
  color: red;
}

.content {
  border: 1px solid white;
}

.sticky {
  position: sticky;
  top: 0px;
}

.circle {
  background-color: whitesmoke;
  border-radius: 100%;
  position: fixed;
  bottom: 10px;
  right: 10px;

}

.button {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  background-color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
}


</style>