* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

<style>h1 {
  color: red;
}

body {
  background-color: turquoise;
  color: white;
}

a {
  text-decoration: none;
}

p {
  text-decoration: wavy;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  text-transform: uppercase;
}


.active {
  text-decoration-color: whitesmoke;
  text-decoration: underline;

}

.box {
  border: 1.5px solid snow;
  height: 150px;
  width: 150px;
  padding: auto;
}

.boxtwo {
  border: 1px solid snow;
  height: 50px;
  width: 50px;
}

.border {
  border: 1px solid wheat;
  width: 375px;
  padding: 20px;
}

nav a:hover {
  color: white;
  background-color: black;
}

nav li:not(:first-child) {
  margin-left: 20px;
}

</style>